// Colors
$color-primary:#3488FA;
$color-white :#FFFFFF;
$color-grey-10:#F4F7FA;
$color-grey-40:#B9C3D5;
$color-grey-80:#818B9D;
$color-grey-90:#222222;

//font family

$font-sf: -apple-system,
BlinkMacSystemFont,
sans-serif